# Указываем обработчики логов - файловый и консольный
handlers = java.util.logging.FileHandler
#//, java.util.logging.ConsoleHandler
# Все логи уровня INFO и выше
java.util.logging.FileHandler.level = INFO
# Класс, который отвечает за форматирование логов в файл
java.util.logging.FileHandler.formatter = java.util.logging.SimpleFormatter
# append = true, чтобы шла дозапись в файл
java.util.logging.FileHandler.append = true
# Паттерн для создания строки в нужном формате
java.util.logging.FileHandler.pattern = %h/CODE/JAVA/OOP/OOP_HOMEWORK7/log.%u.%g.txt

# С какого уровня будем выводить сообщения в консоль
# java.util.logging.ConsoleHandler.level = INFO
# Класс, который отвечает за форматирование логов в консоль:
# java.util.logging.ConsoleHandler.formatter = java.util.logging.SimpleFormatter